		<div id="wrapper">
			<!-- Header -->
			<div id="header">
				<div class="container"> 
					<h1> Níveis da Cisterna </h1>
				</div>
			</div>
			<!-- /Header -->
			<div id="page" style="margin-top:20px;margin-left:20px">

				<div class="container">

				    <div class="row">
					
						<div class="2u chart-wrapper" id="date_select_div" style="background-color: #ABABAB; height: 70px;" >
							<div class="chart-title">  <strong> Selecione o Período das Opções Abaixo </strong> </div>	
								<select id="date_select2">
									<option value="all">Ultimos 60 dias</option>
									<option value="month">Ultimo Mes</option>
									<option value="week">Ultima Semana</option>
								</select>							
						</div>			
				    </div>
				
					<div class="row">
						<div class="6u chart-wrapper"  id="date-chart2">
							<div class="chart-title bold"> <strong> Nível da Cisterna </strong></div>
						</div>
						<div class="6u chart-wrapper"  id="critical-days-chart2">
							<div class="chart-title bold"> <strong> Dias de Nível Crítico</strong></div>
						</div>
					</div>
				</div>	
			</div>
		</div>