<div id="wrapper">
            <div id="header">
                <div class="container"> 

                    <div id="logo">
                        <h2>Pátio Village</a></h2>
                    </div>
                    
                </div>
            </div>
    <div id="page" style="margin-top:40px;margin-left:10px">
         <div class="container">
            <h4>Cisternas</h4>
                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge100" width="50%" height="150" onclick="window.location.href='#/cisternaDash'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> Bloco 2 </div>
                            <div class="description">5.000 Litros<br>
                            <span style="color: #333232">Nível 3: 1,40 metro; </span><br>
                            <span style="color: #178BCA">Nível 2: 1 metro; </span><br>
                            <span style="color: #FFCE00">Nível 1:  40 cm; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge101" wwidth="50%" height="150" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco5 (em breve) </div>
                            <div class="description"> 5.000? Litros<br>
                            <span style="color: #333232">Nível 3: ??? metro;</span><br>
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>

                    <h4>Caixas d'águas dos blocos</h4>
                    <br>
                    <div class="row">
                
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge1" wwidth="50%" height="150" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 1 (em breve) </div>
                            <div class="description">9.000? Litros<br>
                            <span style="color: #333232">Nível 3: ?? metro;</span><br>
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span><br>
                            
                    </div>

                    </div>
                    <br>
                    
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge2" width="50%" height="150" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 2 (em breve) </div>
                            <div class="description"> 9.000? Litros<br>
                            <span style="color: #333232">Nível 3: ??? metro;</span><br> 
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
                    </div>
                    <br>
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge3" width="50%" height="150" onclick="window.location.href='#/caixaDash3A'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> Bloco 3 </div>
                            <div class="description"> 9.000 Litros<br>
                            <span style="color: #333232">Nível 3: 1.63 metro;</span><br>
                            <span style="color: #178BCA">Nível 2: 1.40 metro;</span><br>
                            <span style="color: #FFCE00">Nível 1: 60 cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
                    </div>


                    </div>
                    <br>

                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge4a" width="75%" height="200" onclick="window.location.href='#/cisternaDash'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 4A (em breve) </div>
                            <div class="description">???? Litros<br>
                            <span style="color: #333232">Nível 3: ?? metro;</span><br> 
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge4b" width="75%" height="200" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 4B (em breve) </div>
                            <div class="description">????? Litros<br>
                            <span style="color: #333232">Nível 3: ??? metro;</span><br> 
                            <span style="color: #178BCA">Nível 2: ? metro; </span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>

                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge5a" width="75%" height="200" onclick="window.location.href='#/caixaDash5A'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="chart-title" style="text-align: center"> Bloco 5A </div>
                            <div class="description">???? Litros<br>
                            <span style="color: #333232">Nível 3: ?? metro;</span><br>
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge5b" width="75%" height="200" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 5B (em breve) </div>
                            <div class="description"> 3.000 Litros<br>
                            <span style="color: #333232">Nível 3: ??? metro;</span><br>
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <br>

                    <div class="row">
                    <div class="newcontainer">
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge6a" width="75%" height="200" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco 6A (em breve) </div>
                            <div class="description"> 3.000 Litros<br>
                            <span style="color: #333232;" >Nível 3: ?? metro;</span><br>
                            <span style="color: #178BCA">Nível 2: ? metro;</span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm;</span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio</span></div>
                            
                    </div>
        
                    </div>
                    </div>
                    <div class="sideleft">
                    <div class="cisterna">
                            <div class="6u chart-wrapper">
                            <svg id="fillgauge6b" width="75%" height="200" onclick="window.location.href='#/'"></svg>
                            </div>
                            <div class="6u chart-wrapper">
                            <div class="eminstalacao" style="text-align: center"> Bloco6B (em breve) </div>
                            <div class="description"> 3.000 Litros<br>
                            <span style="color: #333232">Nível 3: ??? metro; </span><br> 
                            <span style="color: #178BCA">Nível 2: ? metro; </span><br>
                            <span style="color: #FFCE00">Nível 1:  ?? cm; </span><br>
                            <span style="color: #E53A0F"> Nível 0: Vazio </span></div>
                            
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>                      
            </div>
            
        </div>  
    </div>
</div>